
h5{
  font-size:1.5rem;
 
  color:white;
  font-family: 'Merienda', cursive;
  animation-name:glow;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

@keyframes glow{
  from{text-shadow:0px 0px 5px #FBE256,0px 0px 5px #FBE256;}
  to{text-shadow:0px 0px 20px #FBE256,0px 0px 20px #FBE256;}
}



@media (min-width: 360px)  { 
 
  .homecen{
    width:275px;
    margin: auto;
    
    margin-top: 80px;
    margin-bottom: 50px;
    height:1000px;
  }
  .fomosize {
    margin-top: 60%;
    width: 90%;
    margin-bottom: 50px;
    z-index: 999;
}
  
  .fomosticker {
   position: absolute;
   width: 75%;
   left:12%;
    top:130%;
   
  }

  .marg {
    margin-top: 50px;
  }

  .teleg {
    background-color: #F9BF0E;
    font-size: 0.9rem;
    border-radius:  20px;
    color:black,
  }

  .certimg {
    width:125%;
    padding-right: 100px;
  }

  .cadd {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    word-break: break-all;
  }
 
 }



  /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 
  .homecen{
    width:500px;
    margin: auto;
    padding-bottom: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .fomosize {
    margin-top: 20%;
    width: 60%;
    margin-bottom: 50px;
}
  
  .fomosticker {
   position: absolute;
  
   left:1400px;
   top:100%;
  }

  .marg {
    margin-top: 50px;
  } 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

   
  .homecen{
    margin: auto;
    padding-bottom: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .fomosize {
    margin-top: 33%;
    width: 60%;
    margin-bottom: 20px;
  }
  
  .fomosticker {
   position: absolute;
   left:55%;
   top:58%;
   width:50%;
  }
  
  .marg {
    margin-top: 50px;
  } 
   
  .certimg {
    width:auto;
   padding-right: 0px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .homecen{
    margin: auto;
    padding-bottom: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .fomosize {
    margin-top: 40%;
    width: 60%;
    margin-bottom: 20px;
  }
  
  .fomosticker {
   position: absolute;
   left:65%;
   top:60%;
   width:35%;
  }
  #footerpush {
    top:200px;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 



    .homecen{
        width:900px;
        margin: auto;
        padding-bottom: 200px;
        margin-top: -60px;
        margin-bottom: 50px;
      }
      .fomosize {
        margin-top: 20%;
        width: 45%;
        margin-bottom: 50px;
    }
      
      .fomosticker {
       position: absolute;
       width:25%;
       left:75%;
       top:65%;
      }
      .marg {
        margin-top: 0px;
      }

      .cadd {
        text-align: center;
        padding-left: auto;
        padding-right: auto;
        
      }
      .teleg {
        background-color: #F9BF0E;
        font-size: 1.5rem;
        border-radius:  20px;
        color:black,
      }
      .certimg {
        width:auto;
       padding-right: 0px;
      }
      #footerpush {
        top:800px;
      }
   
 }

 @media (min-width: 1400px) { 



  .homecen{
      width:900px;
      margin: auto;
      padding-bottom: 200px;
      margin-top: -60px;
      margin-bottom: 50px;
    }
    .fomosize {
      margin-top: 20%;
      width: 45%;
      margin-bottom: 50px;
  }
    
    .fomosticker {
     position: absolute;
     width:25%;
     left:75%;
     top:40%;
    }

    .marg {
      margin-top: 0px;
    }
 
    .teleg {
      background-color: #F9BF0E;
      font-size: 1.5rem;
      border-radius:  20px;
      color:black,
    }

    .certimg {
      width:auto;
     padding-right: 0px;
    }
   
    #footerpush {
      top:100px;
    }
}