


/* roadmap letter */


@media (min-width: 360px) { 
  .howtobuyposition{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: block;
    top:-30px;
    opacity: 0;
   }

 .cardhowtobuy {
    margin-top:"5px";
     
      margin-left:"2px";
       margin-right:"2px";
        border-radius:"50px";
         background:"#693594";
         opacity: 0;
 }  

 .card-info{
  width:95%
}   
}
@media (min-width: 576px) { 
  .howtobuyposition{
    position: relative;
    align-items: center;
    display: block;
    top:-30px;
    opacity: 0;
   }

 .cardhowtobuy {
    margin-top:"5px";
     width:90%;
      margin-left:"2px";
       margin-right:"2px";
        border-radius:"50px";
         background:"#693594";
         opacity: 0;
 } 
}


@media (min-width: 768px) { 
  .howtobuyposition{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: block;
    top:-70px;
    opacity: 0;
   }

 .cardhowtobuy {
    margin-top:5px;
    opacity: 0;
      margin-left:"auto";
       margin-right:"auto";
        border-radius:50px;
         background:#693594;
 }  
 .card-info{
  width:75%
}
    
}
@media (min-width: 992px) { 

  .howtobuyposition{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: block;
    top:-70px;
    opacity: 0;
   }

 .cardhowtobuy {
    margin-top:2%;
    opacity: 0;
      margin-left:"auto";
       margin-right:"auto";
        border-radius:50px;
         background:#693594;
 }  
 .card-info{
  width:80%
}
}
@media (min-width: 1200px) { 
    .howtobuyposition{
        position: relative;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: block;
        top:-75px;
        opacity: 0;
       }

     .cardhowtobuy {
        margin-top:"5px";
        opacity: 0; 
          margin-left:"auto";
           margin-right:"auto";
            border-radius:"50px";
             background:"#693594";
            
     }  
     .card-info{
      width:75%
    }

}

@media (min-width: 1400px) { 
  .howtobuyposition{
      position: relative;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      display: block;
      top:-75px;
      opacity: 0;
     }

   .cardhowtobuy {
      margin-top:"5px";
      opacity: 0;
        margin-left:"auto";
         margin-right:"auto";
          border-radius:"50px";
           background:"#693594";
   }  
 
   .card-info{
     width:50%
   }
   
}

