

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
}

  .item{
    padding-left:5px;
    padding-right:5px;
  }
  .item-card{
    transition:0.5s;
    cursor:pointer;
    background-color: #693594;
    border-width: medium;
    border-radius: 50px;
    border-color: white;
    color:white;
    padding-bottom: 50px;
    opacity: 0;
  }
  .item-card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .item-card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
      margin-left: 80px;
      margin-right:80px;
   
   
  }
  
  h1,h2,h3,h4,h5,h6,p {
    font-family: Poppins,sans-serif;
  }
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }


@media (min-width: 360px) { 
/*   
  .image-cropper {
    width: 100px;
    height: 100px;
    border-width: thick;
    border-color: red;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: -50px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(20deg);

} */
    .kyfposition {
      position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: block;
    top:-30px;
    opacity: 0;
    }

    .card-text{
      margin-left: 5%;
      margin-right:5%;
    }

    .rowkyf {
      margin-top: 90px;
    }

}
@media (min-width: 576px) { 
  
  /* .image-cropper {
    width: 200px;
    height: 200px;
    border-width: thick;
    border-color: red;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(20deg);

} */
  .kyfposition {
    position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
  top:-30px;
  opacity: 0;
  }

  .card-text{
    margin-left: 5%;
    margin-right:5%;
  }

}
@media (min-width: 768px) { 
  
  /* .image-cropper {
    width: 200px;
    height: 200px;
    border-width: thick;
    border-color: red;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(20deg);

} */
    .kyfposition{
      position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
  top:-60px;
  opacity: 0;      
    }
    .card-text{
      margin-left: 3%;
      margin-right:3%;
    }
    

}
@media (min-width: 992px) { 
/*   
  .image-cropper {
    width: 200px;
    height: 200px;
    border-width: thick;
    border-color: red;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(20deg);

} */
  .kyfposition{
    position: relative;
width: 80%;
margin-left: auto;
margin-right: auto;
align-items: center;
display: block;
top:-60px;
opacity: 0;      
  }
  .card-text{
    margin-left: 1%;
    margin-right:1%;
  }
}
@media (min-width: 1200px) {
  
  /* .image-cropper {
    width: 200px;
    height: 200px;
    border-width: thick;
    border-color: red;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(20deg);

} */

  .kyfposition{
    position: relative;
width: 50%;
margin-left: auto;
margin-right: auto;
align-items: center;
display: block;
top:-100px;
opacity: 0;     
  }

.kycard {
  margin-top: -100px;
}
.card-text{
  margin-left: 80px;
  margin-right:80px;
}

}

@media (min-width: 1400px) {

  
  /* .image-cropper {
    width: 200px;
    height: 200px;
    border-width: thick;
    border-color: red;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: -100px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(20deg);

} */

  .kyfposition{
    position: relative;

margin-left: auto;
margin-right: auto;
align-items: center;
display: block;
top:-100px;
opacity: 0;
      
  }
  .card-info{
    width:50%
  }

  
.kycard {
 margin-top: -100px;
}
.card-text{
 margin-left: 80px;
 margin-right:80px;
}

.rowkyf {
  margin-top: 40px;
}

}