.nav-item{
    padding-left: 30px;
  }
  
  .nav-link {
    font-size:x-large;
  }


  @media (min-width: 360px) {
  .fomologo {
    width:30%;
    margin-left: -40px;
  }
}
@media (min-width: 560px) {
  .fomologo {
    width:25%;
  }
}

@media (min-width: 768px) {
  .fomologo {
    width:12%;
  }
}


@media (min-width: 992px) {
  .fomologo {
    width:10%;
  }
}
@media (min-width: 1200px) {
  .fomologo {
   width:8%;
   
  }
}
@media (min-width: 1400px) {
  .fomologo {
   width:5%;
   
  }
}
